.editInput {
  max-width: 600px;
  margin-right: 50px;
}

.iconButton {
  margin-right: 0px;
}

.taskDescr {
  font-size: 1.3em;
}

.taskDone {
  font-size: 1.3em;
  text-decoration: line-through;
}

.userInfo {
  display: inline;
  font-size: 0.8em;
}
