.paperBlock {
  margin: 16px !important;
  padding-bottom: 15px !important;
}

.sortForm {
  margin-top: 16px !important;
  margin-left: 16px !important;
}

.emptyText {
  margin: 50px;
  font-size: 1.5em;
  text-align: center;
}
